{% extends "base_nuevo.html" %}

{% block title %}Sistema SIMAS - EED{% endblock title %}
{% load staticfiles %}
{% block extra_js %}
{% endblock extra_js %}

{% block contenido %}
<!--
<div class="">

    <div class="large-12 columns">
{# aca va el mapa principal #}
      <div class="hide-for-small">
        <div id="featured">
             <div id="map" style="width: 980px; height: 450px;"></div>
             <img src="{% static 'img/shadow3.png' %}" alt="mapa">
          </div>
        </div>


    <div class="row">
      <div class="small-12 show-for-small"><br>
        poner algo
      </div>
    </div>-->

{# fin del mapa #}
    </div>
<br>

   <div class="row">

    <div class="large-12 columns">
      <div class="row">
        <div class="apps">

{# aca van los cuatros sistemas que comprenden el total #}
        <div class="large-3 small-6 columns">
          <div class="elem-apps">
              <div class="elem-tittle">
                  <p>Monitoreo de Innovación</p>
              </div>
              <div class="elem-figura">
                  <img src="{% static 'img/app1.png' %}" alt="Monitoreo">
              </div>
              <div class="elem-cont">
                <br>
                  <p>Construir los sistemas alimentarios productivos, sostenibles y equitativos en Nicaragua para reducir la pobreza rural e inseguridad alimentaria y nutricional.</p>
              </div>
              <div class="elem-boton">
               <a href="/seleccion" class="button expand elem-botons">Entrar</a>
              </div>
          </div>
        </div>

        <div class="large-3 small-6 columns">
          <div class="elem-apps">
              <div class="elem-tittle">
                  <p>Monitores de Familias Rurales</p>
              </div>
              <div class="elem-figura fimg">
                  <img src="{% static 'img/app2.png' %}" alt="Monitoreo Familias">
              </div>
              <div class="elem-cont">
                <br>
                  <p>Monitoreo de las familias campesinas. </p>
              </div>
              <div class="elem-boton">
                <a href="http://monitoreo.pythoni.org/" class="button expand elem-botons">Entrar</a>
              </div>
          </div>
         </div>

        <div class="large-3 small-6 columns">
          <div class="elem-apps">
              <div class="elem-tittle">
                  <p>Monitoreo de Actividades</p>
              </div>
              <div class="elem-figura">
                  <img src="{% static 'img/app3.png' %}" alt="Monitoreo Actividades">
              </div>
              <div class="elem-cont">
                <br>
                  <p>Monitoreo de las actividades</p>
              </div>
              <div class="elem-boton">
                <a href="http://actividades.trocairenic.org/" class="button expand elem-botons">Entrar</a>
              </div>
          </div>
        </div>

        <div class="large-3 small-6 columns">
          <div class="elem-apps">
              <div class="elem-tittle">
                  <p>Evaluación de Involucramiento</p>
              </div>
              <div class="elem-figura fimg">
                  <img src="{% static 'img/app4.png' %}" alt="Evaluacion">
              </div>
              <div class="elem-cont">
                <br>
                  <p>Evaluación de involucrados</p>
              </div>
              <div class="elem-boton">
                <a href="http://cedaprode.pythoni.org/accounts/login/" class="button expand elem-botons">Entrar</a>
              </div>
          </div>
        </div>



      </div>
    </div>
  </div>




{% endblock contenido %}
