{% extends "base_menu.html" %}

{% block title %}Sistema SIMAS - EED{% endblock title %}
{% load staticfiles %}
{% block contenido %}
<div class="row frow">
<div>
	<h1 class="stittle">Explora</h1>
</div>
	<hr />
</div>

<div class="row frow">
	<div class="large-12 columns info">
		<div class="row">
			<div class="large-6 columns">
				<div class="info-elem">
					<div class="info-tittle">
						<p>Innovando Practicas Productivas</p>
					</div>
					<hr/>
					<div class="info-contenedor">
						<div class="info-text">
							<p>Promotoras y promotoras rurales participarán en las escuelas y fomulan pequeños proyectos de experimentación, validación y difusión de prácticas agroecológicas basados en las realidades del campo.</p>
						</div>
						<div class="info-boton">
							<a href="/gpromotor" class="button">Estadisticas generales</a>
							<a href="/promotor" class="button">Promotoras y promotores</a>
							<a href="/pruebas" class="button">Pruebas de practicas productivas</a>
						</div>
					</div>
				</div>
			</div>

			<div class="large-6 columns">
				<div class="info-elem">
					<div class="info-tittle">
						<p>Innovando Practicas Empresariales</p>
					</div>
					<hr/>
					<div class="info-contenedor">
						<div class="info-text">
							<p>Las lideresas y líderes de las organizaciones fomularán los pequeños proyectos de desarrollo e implementación de prácticas empresariales basados en las realidades de los negocios de sus organizaciones.</p>
						</div>
						<div class="info-boton">
							<a href="/gempresas" class="button">Estadisticas generales</a>
							<a href="/empresa" class="button">Empresas rurales</a>
							<a href="/mejora" class="button">Mejoras para innovar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row frow">
	<div class="large-12 columns info">
		<div class="row">
			<div class="large-6 columns">
				<div class="info-elem">
					<div class="info-tittle">
						<p>Innovando Politicas</p>
					</div>
					<hr/>
					<div class="info-contenedor">
						<div class="info-text">
							<p>Redes y MS elaborarán propuestas de desarrollo de iniciativas para construir políticas públicas, a nivel nacional y departamental para promover la agricultura ecológica de las familias campesinas.</p>
						</div>
						<div class="info-boton">
							<a href="/gespacios" class="button">Estadisticas generales</a>
							<a href="/espacio" class="button">Espacios para innovar</a>
							<a href="/iniciativas" class="button">Iniciativas para innovar</a>
						</div>
					</div>
				</div>
			</div>

			<div class="large-6 columns">
				<div class="info-elem">
					<div class="info-tittle">
						<p>Fortaleciendo Capacidades</p>
					</div>
					<hr/>
					<div class="info-contenedor">
						<div class="info-text">
							<p>Organizaciones campesinas, redes, OSC y MS fortalecen su capacidad institucional a nivel organizacional, programático y metodológico.</p>
						</div>
						<div class="info-boton">
							<a href="/gservicios" class="button">Estadisticas generales</a>
							<a href="#" class="button">Conocimiento de actores</a>
							<a href="#" class="button">Servicios para mejorar org</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock contenido %}
